.profile{


    .loadLinks{
        height: 70vh;
        top: 25vh;
        padding: 5vh;
        // background-color: black;
        width: 100%;
        overflow-y: scroll;

        .request{
            display: flex;
            height: 20vh;
            width: 90%;
            margin-left: 3%;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 15px;
            .userInfo{
                padding: 2%;
                width: 6%;
                .name{
                    height: 2vh;
                    margin-top: -1vh;
                    margin-bottom: 1vh;
                    width: 90%;
                    margin-left: 5%;
                    text-align: center;
                    font-size: 2.3vh;
                }
                img{
                    height: 10vh;
                    border-radius: 15px;
                    margin-left: 5%;
                    margin-top: 1vh;
                    width: 90%;
                }
            }
            .travelInfo{
                width: 20%;
                height: 100%;
                padding-top: 2.5%;
                .line{
                    position: absolute;
                    left: 13.15vw;
                    margin-top: 3vh;
                    height: 7%;
                }
                .info{
                    display: flex;
                    width: 100%;
                    img{
                        height: 3vh;
                        margin-right: 10%;
                        margin-top: 3%;
                    }
                    p{
                        margin-top: 0.8%;
                        font-size: 3vh;

                    }
                }
            }
            .map{
                width: 30%;
                background-color: darkgray;
                height: 16vh;
                margin-top: 2vh;
                border-radius: 15px;
            }
            .Details{
                width: 20%;
                margin-left: 20%;
                .bookBtn{
                    color: white;
                    background-color: #08A318;
                    border: none;
                    height: 6vh;
                    border-radius: 15px;
                    cursor: pointer;
                    width: 50%;
                }
            }
        }
    }
}