@media only screen and (max-width:768px){
    .notifications{
        position: fixed;
        height: 100%;
        width: 100%;
        .n{
            position: fixed;
            width: 90vw;
            top: 16vh;
            border-radius: 15px;
            left: 5vw;
            height: 80vh;
            border: none;
            // background-color: black;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

            .disclaimer{
                margin-top: 15vh;
                width: 100%;
                height: 40vh;

                img{
                    height: 40%;
                    width: 40%;
                    margin-left: 28%;
                }
                p{
                    margin-top: 5%;
                    width: 90%;
                    margin-left: 5%;
                    text-align: center;
                    font-size: 1.5vh;
                }
            }

                .notification{
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                    height: 10vh;
                    border-radius: 10px;
                    padding: 1%;
                    margin-top: 2vh;
                    display: flex;

                    .userInfo{
                        padding: 2%;
                        width: 20%;
                        .name{
                            height: 2vh;
                            margin-top: -0.8vh;
                            margin-bottom: 1vh;
                            width: 90%;
                            margin-left: 5%;
                            text-align: center;
                            font-size: 1.3vh;
                        }
                        img{
                            height: 6vh;
                            border-radius: 10px;
                            margin-left: 5%;
                            margin-top: 0vh;
                            width: 90%;
                        }
                    }
                    .price{
                        margin-left: 5%;
                        background-color: #08A318;
                        border-radius: 10px;
                        text-align: center;
                        padding-top: 2%;
                        height: 70%;
                        width: 30%;
                        color: white;
                        font-size: 15px;
                        margin-top: 10px;
                        padding: 2%;
                        height: 60%;
                        margin-top: 4%;


                    }
                    .btns{
                        width: 35%;
                        height: 100%;
                        margin-left: 5%;
                        display: flex;
                        margin-top: 2.5%;

                        img{
                            width: 45%;
                            height: 80%;
                            margin-top: 5%;
                            cursor: pointer;
                        }
                    }

                }
    
            }
        .n::-webkit-scrollbar {
            width: 5px;
          }
          
          /* Track */
        .n::-webkit-scrollbar-track {
            background: transparent;
          }
          
          /* Handle */
        .n::-webkit-scrollbar-thumb {
            background: green;
          }
    }
}

@media only screen and (min-width:768px){
    .notifications{
        position: fixed;
        height: 100%;
        width: 100%;
        .photoPopUp{
            position: fixed;
            height: 100vh;
            width: 100vw;
            background-color: rgba(0, 0, 0, 0.468);
            z-index: 10;
            top:0;
            .main{
                height: 60vh;
                width: 40vw;
                position: absolute;
                left:30vw;
                top:15vh;
                background-color: aliceblue;
                border-radius: 15px;

                .cancel{
                    position: absolute;
                    top:2vh;
                    left: 37vw;
                    background-color: transparent;
                    font-size: 4vh;
                    border: none;
                    cursor: pointer;
                }

                .photo{
                    position: absolute;
                    height: 90%;
                    width: 60%;
                    margin-left: 20%;
                    margin-top: 5%;
                }
            }
        }
        .n{
            position: fixed;
            width: 90vw;
            top: 16vh;
            border-radius: 15px;
            left: 5vw;
            height: 80vh;
            border: none;
            // background-color: black;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

            .disclaimer{
                margin-top: 15vh;
                width: 100%;
                height: 40vh;

                img{
                    height: 50%;
                    width: 10%;
                    margin-left: 42.5%;
                }
                p{
                    margin-top: 5%;
                    width: 40%;
                    margin-left: 27.5%;
                    text-align: center;
                }
            }
    
            .notification{
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                height: 10vh;
                border-radius: 10px;
                padding: 1%;
                margin-top: 2vh;
                display: flex;
                width: 90%;
        
                .userInfo{
                    padding: 2%;
                    width: 6%;
                    .name{
                        height: 2vh;
                        margin-top: -2.5vh;
                        margin-bottom: 1vh;
                        width: 90%;
                        margin-left: 5%;
                        text-align: center;
                        font-size: 1.3vh;
                    }
                    img{
                        height: 6vh;
                        border-radius: 10px;
                        margin-left: 5%;
                        margin-top: 0vh;
                        width: 90%;
                    }
                }
                .price{
                    margin-left: 20%;
                    background-color: #08A318;
                    border-radius: 10px;
                    text-align: center;
                    padding-top: 2%;
                    height: 70%;
                    width: 20%;
                    color: white;
        
                }
                .btns{
                    width: 15%;
                    height: 100%;
                    margin-left: 35%;
        
                    img{
                        width: 45%;
                        height: 80%;
                        margin-top: 5%;
                        cursor: pointer;
                    }
                }
        
            }
    
        }
        .n::-webkit-scrollbar {
            width: 5px;
          }
          
          /* Track */
        .n::-webkit-scrollbar-track {
            background: transparent;
          }
          
          /* Handle */
        .n::-webkit-scrollbar-thumb {
            background: green;
          }
    }
}