.explore{
    height: 100vh;
    width: 100vw;

    .Main{
        position: fixed;
        width: 90vw;
        top: 16vh;
        border-radius: 15px;
        left: 5vw;
        height: 80vh;
        border: none;
        // background-color: black;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

        .currentView{
            position: fixed;
            height: 100vh;
            width:100vw;
            background-color: rgba(0, 0, 0, 0.535);
            top: 0vh;
            left: 0vh;
            z-index: 7;
            
            .viewContent{
                height: 70vh;
                position: absolute;
                width: 60vw;
                left: 20vw;
                top:15vh;
                background-color: aliceblue;
                border-radius: 15px;
            }
        }

        .bg{
            position: fixed;
            width: 100vw;
            height: 100vh;
            z-index: 0;
            opacity: 0.15;
        }
    
        .loadLinks{
            height: 70vh;
            top: 25vh;
            padding: 5vh;
            // background-color: black;
            width: 100%;
            overflow-y: scroll;

            .request{
                display: flex;
                height: 20vh;
                width: 90%;
                margin-left: 3%;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                border-radius: 15px;

                .friendReq{
                    background-color: crimson;
                    height: 10vh;
                    width: 10vw;
                    position: absolute;
                    margin-top: -10vh;
                    border-radius: 10px;
                    
                    button{
                        width: 90%;
                        margin-left: 5%;
                        background-color: aliceblue;

                    }

                }

                .userInfo{
                    padding: 2%;
                    width: 6%;
                    .name{
                        height: 2vh;
                        margin-top: -1vh;
                        margin-bottom: 1vh;
                        width: 90%;
                        margin-left: 5%;
                        text-align: center;
                        font-size: 2.3vh;
                    }
                    img{
                        height: 10vh;
                        border-radius: 15px;
                        margin-left: 5%;
                        margin-top: 1vh;
                        width: 90%;
                    }
                }
                .travelInfo{
                    width: 20%;
                    height: 100%;
                    padding-top: 2.5%;
                    .line{
                        position: absolute;
                        left: 13.15vw;
                        margin-top: 3vh;
                        height: 7%;
                    }
                    .info{
                        display: flex;
                        width: 100%;
                        img{
                            height: 3vh;
                            margin-right: 10%;
                            margin-top: 3%;
                        }
                        p{
                            margin-top: 0.8%;
                            font-size: 3vh;

                        }
                    }
                }
                .map{
                    width: 30%;
                    background-color: darkgray;
                    height: 16vh;
                    margin-top: 2vh;
                    border-radius: 15px;
                }
                .Details{
                    width: 20%;
                    margin-left: 20%;
                    .bookBtn{
                        color: white;
                        background-color: #08A318;
                        border: none;
                        height: 6vh;
                        border-radius: 15px;
                        cursor: pointer;
                        width: 50%;
                    }
                }
            }
        }
    }
}